<h2>書籍詳細</h2>
    <p>ID:<%= @book.id %></p>
    <p>書籍名:<%= @book.name %></p><br>
    <p>価格:<%= @book.price %></p><br>
    <p>出版社:<%= @book.publish %></p><br>
    <p>刊行日:<%= @book.publish_date %></p><br>